/*-----------------------------------BODY----------------------------------------  */
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    background-image: url("../images/background_placeholder.JPG");
    background-size: cover;
    background-position: bottom;
    margin: 0;
    min-height: 100vh;
}

/* -----------------------------------HEADER---------------------------------------- */

header {
    width: 100%;
    height: 25%;
    margin: 0;
    background-color: white;
}

.heading {
    position: relative;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading img {
    width: 40px;
    margin-right: 10px;
}

.heading h1 {
    text-align: center;
    font-size: 55px;
    letter-spacing: 3px;
    margin: 0;
    color: #04471C;
}

.info {
    text-align: center;
}

.info a {
    all: unset;
}

.info a:link, .info a:visited {
    all: unset;
}

.info a:hover {
    all: unset;
}

.info a {
    color: #04471C;
}

.info a:link, .info a:visited {
    color: #04471C;
    text-decoration: underline;
}

.info a:hover {
    background-color: #04471C;
    color: white;
}

/* -----------------------------------MAIN---------------------------------------- */
/* This height determines the size of the main element */
main {
    position: relative;
    height: 100%;
}

.leftside .rightside {
    height: 100%;
    width: 100%;
}

/* Nature Trail Side */
/* Changing the padding's third value stretches the info */
.leftside {
    background-color: #04471C;
    color: #F7F7F9;
    height: 100%;
    padding: 20px 50px 80px 50px;
}

/* Hiking Trail Side */
/* Changing the padding's third value stretches the info */
.rightside {
    background-color: #544B3D;
    color: #F7F7F9;
    height: 100%;
    padding: 20px 50px 80px 50px;
}

/* ----------------------------WEATHER-------------------------------- */
#weather {
    width: 100%;
    height: 200px;
    background-image: url("../images/weather_bg.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#weather h2 {
    margin: 10px;
    font-size: 40px;
}

#weather h2 p {
    font-size: 20px;
}

#weather #temp {
    margin: 0;
    font-size: 20px;
}

#weather button {
    position: absolute;
    left: 45%;
    right: 45%;
}

#weather img {
    width: 180px;
    height: 180px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

/* ----------------------------BUTTONS-------------------------------- */
a {
    display: block;
    color: white;
}

a:link, a:visited {
    background-color: darkolivegreen;
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: #04471C
}

.leftside a {
    position: absolute;
    bottom: 20px;
    background-color: forestgreen;
}

.leftside a:hover {
    color: forestgreen;
    background-color: white;
}

.rightside a {
    position: absolute;
    bottom: 20px;
    background-color: #856A5D;
}

.rightside a:hover {
    color: #856A5D;
    background-color: white;
}

/* ---------------------------IMAGES---------------------------------- */
/* Images below info (change width depending on how many images there are) */
.column {
    float: left;
    /* Default image count: 6 */
    width: 16.66666666666666666667%;
}

.row {
    width: 100%;
    margin: 0;
}

/* ----------------------------NATURE GALLERY-------------------------- */
main h1 {
    text-align: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: white;
    margin: 0;
}

.imageSection {
    position: relative;
}

.imageList {
    background-color: #5ccc7a;
    width: 100%;
    height: 25%;
    margin: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 20px 20px 20px 20px;
    list-style-type: none;
}

ul .column {
    position: relative;
    float: none;
    width: 16.6666666666666666667%;
}

li img {
    width: 100%;
}

li a:link, li a:visited {
    width: 100%;
    padding: 1px;
}

@media screen and (max-width: 1080px) {
    ul .column {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    ul .column {
        width: 33.33333333333333333333%;
    }
}

/* -----------------------------------VIDEO---------------------------------------- */
.video {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: #5ccc7a;
}
iframe{
    min-width: 400px;
}

.video a {
    margin: 10px 25% 10px 25%;
    background-color: #04471C;
    color: white;
}

.video a:link, .video a:visited {
    background-color: #04471C;
    color: white;
}

.video a:hover {
    background-color: white;
    color: #04471C;
}

/* -----------------------------------FOOTER---------------------------------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottomInfo {
    position: absolute;
    opacity: 0.7;
    background-color: #04471C;
    color: #F7F7F9;
    width: 100%;
}

.bottomInfo:hover {
    opacity: 1;
}

.contact img {
    width: 50%;
    border-radius: 50% 0% 50% 0%;
    opacity: 0.7;
}

.contact img:hover {
    opacity: 1;
}

.contact {
    float: left;
    width: 25%;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .contact {
        width: 50%;
    }

    .contact img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        width: 100%;
    }

    .contact img {
        width: 30%;
    }
}



