body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    margin: 0;
}
header {
    width: 100%;
    height: 25%;
    margin: 0;
    background-color: white;
}
.heading {
    position: relative;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading img{
    width: 40px;
    margin-right: 10px;
}
.heading h1{
    text-align: center;
    font-size: 55px;
    letter-spacing: 3px;
    margin: 0;
    color: #04471C;
}

.info {
    text-align: center;
}
/* This height determines the size of tha main element
 *  */
main{
    height: 90vh;
}
.leftside .rightside{
    height: 100%;
    width: 100%;
}

.leftside{
    background-color: #78de9f;
    height: 100%;
    padding: 20px 50px 120px 50px;
}

.leftside a{
    position: absolute;
    bottom: 20px;
}

.rightside{
    background-color: #78de9f;
    height: 100%;
    padding: 20px 50px 120px 50px;
}

.rightside a{
    position: absolute;
    bottom: 20px;
}
a{
    display: block;
    color: white;
}
a:link, a:visited{
    background-color: #04471C;
    color: white;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: white;
    color: #04471C
}
.column {
    float: left;
    width: 16.66666666666666666667%;
}
.row{
    width: 100%;
    margin: 0;
}


