/*Header style*/
header {
    background-color: #04471C;
    padding: 20px;
}
logo {
    margin: 10px;
    width: 10%;
}
/*Button style*/
button {
    width: 110px;
    border-color: #87A330;
    margin-top: 7px;
    background-color: #87A330;
    padding: 21px;
    font-size: 20px;
    text-align: center;
    outline: #243010;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
.leftWrapUp:hover > input{
    width: 40%;
}
/*Searchfield style*/
input {
    opacity: 0.7;
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
    width: 30%;
    outline: #243010;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:hover {
    width: 40%;
    opacity: 1;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.10),
    0 17px 10px 0 rgba(0,0,0,0.10);

}
searchbutton:hover input {
    width: 40%;
}
.container {
    margin:20px;
}
tag1 {
    color: #F7F7F9;
}
tag2 {
    color: #F7F7F9;
    font-size: 60px;
    vertical-align: 40px;
    margin-left: 20px;
}
/*Map style*/
#map {
    float: right;
    width: 50%;
    height: 700px;
    margin-top: 8px;
    margin-bottom: 10px;
    opacity: 0.7;
}
#map:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15),
    0 17px 50px 0 rgba(0,0,0,0.15);
}
/*Map marker styles*/
.blue-icon {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #66D1E8;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}
.blue-icon::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}
.blue-icon:hover {
    background: #2BBFDF;
}
.green-icon {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #87A330;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}
.green-icon:after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}
.green-icon:after:after {
    content: url("https://cdn.discordapp.com/attachments/695621317772443771/704981255686455407/nature_marker.png");
    width: 240px;
    height: 240px;
    position: absolute;
}
.green-icon:hover {
    background: #179C18;
}
/*Backround image*/
body {
    background-image: url('https://cdn.discordapp.com/attachments/689742770616795161/694806127896166411/IMG_2889-Edit.jpg');
    background-size: 65%;
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    min-height: 100%;
}
/*Left info  table style*/
.wrapper {
    visibility: hidden;
    opacity: 0.5;
    padding: 15px;
    margin-top: 5px;
    background-color: #04471C;
    color: #F7F7F9;
    width: 31.5%;
}
.wrapper:hover {
    opacity: 1;
}
.leftWrapUp {
    width: 80%;
}
.leftWrapDown {
    width: 80%;
}
.leftWrapDown button {
    background-color: #87A330;
    color: #F7F7F9;
    padding: 7.4px;
    border-style: ridge;
    border-color: #04471C;
    border-width: 2.5px;
    min-width: 100px;
    //width: 30%;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.leftWrapDowna button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15),
    0 17px 50px 0 rgba(0, 0, 0, 0.15);
}
/*Navigoi napin style*/
#navigate {
    text-align: center;
    background-color: #87A330;
    color: #F7F7F9;
    padding: 7px;
    border-style: ridge;
    border-color: #04471C;
    width: 30%;
    text-decoration: none;
}
#navigate:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15),
    0 17px 50px 0 rgba(0, 0, 0, 0.15);
}






