/* -----------------------BODY------------------------- */
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://media.discordapp.net/attachments/702787870628380772/702855547061403728/20190908-IMG_9535.jpg?width=876&height=1314');
}
/* -----------------------HEADER------------------------- */
header {
    background-color: #544B3D;
    padding: 20px;
}
header img{
    position: absolute;
    border-style: ridge;
    padding: 10px;
}
header h1 {
    color: #F7F7F9;
    font-size: 60px;
    margin: 25px 0px 25px 100px;
}
/* -----------------------BUTTONS------------------------- */
button {
    margin-top: 7px;
    background-color: #856A5D;
    color: #A1C349;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-style: none;
}
button:hover {
    background-color: white;
    color: #856A5D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
#searchbutton{
    margin: 8px 0px 2px 0px;
    background-color: #856A5D;
    padding: 22px;
    font-size: 20px;
    text-align: center;
    border-style: none;
    outline: #243010;
}
#searchbutton:hover{
    background-color: white;
    color: #856A5D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
#twoButtons{
    width: 36%;
    display: flex;
    justify-content: space-between;
}
#reset{
    width: 30%;
    margin-left: 5px;
    min-width: 100px;
}
#filterBtn{
    display: block;
    width: 60%;
}
/* -----------------------INFO------------------------- */
#info {
    display: none;
    opacity: 0.5;
    padding: 15px;
    margin-top: 5px;
    background-color: #544B3D;
    color: #F7F7F9;
    width: 34%;
}
#info:hover {
    opacity: 1;
}
#info a:link, a:visited{
    margin-top: 7px;
    background-color: #856A5D;
    color: #A1C349;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-style: none;
    text-decoration: none;
}
#info a:hover{
    background-color: white;
    color: #856A5D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
/* ---------------------INPUTS------------------------ */
.searchBar {
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
    width: 133px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchBar:hover {
    width: 27%;
    opacity: 1;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.10),
    0 17px 10px 0 rgba(0,0,0,0.10);
}
#filters .searchBar{
    width: 37%;
}
#filters .searchBar:hover{
    width: 60%;
}
#routeLengthInput{
    width: 10%
}
#routeDistanceInput{
    width: 10%
}
/* ---------------------MAP------------------------ */
#mapid {
    float: right;
    width: 60%;
    height: 500px;
    margin-top: 8px;
    margin-bottom: 10px;
    opacity: 0.9;
}
#mapid:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15),
    0 17px 50px 0 rgba(0,0,0,0.15);
}

/* ---------------------FILTERS------------------------ */
#filters{
    color: white;
    display: none;
    background-color: #544B3D;
    margin: 10px 0px 10px 0px;
    width: 34%;
    padding: 15px;
    opacity: 0.5;
}
#filters:hover{
    opacity: 1;
}
#routeDistanceInput {
    display: none;
}
#routeLengthInput {
    display: none;
}
/* ---------------------TUTORIAL BOX------------------------ */
#tutorial{
    display: block;
    opacity: 0.5;
    padding: 15px;
    margin-top: 5px;
    background-color: #544B3D;
    color: #F7F7F9;
    width: 34%;
}
#tutorial:hover {
    opacity: 1;
}
/* ---------------------RESPONSIVITY------------------------ */

@media screen and (max-width: 800px){
    .searchBar:hover {
        width: 70%;
    }
    #info{
        width: 96%;
    }
    #tutorial{
        width: 96%;
    }
    #filters{
        width: 96%;
    }
    #mapid{
        width: 100%;
        float: none;
    }
    #twoButtons{
        width: 100%;
    }
}

.loading {
    cursor: wait;
}