body{
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #544B3D;
    padding: 20px;
}
button {
    margin-top: 7px;
    background-color: #856A5D;
    color: #A1C349;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-style: none;
}
button:hover {
    background-color: white;
    color: #856A5D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
#info a:link, a:visited{
    margin-top: 7px;
    background-color: #856A5D;
    color: #A1C349;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-style: none;
    text-decoration: none;
}
#info a:hover{
    background-color: white;
    color: #856A5D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
#searchbutton{
    border-color: #856A5D;
    margin-top: 7px;
    background-color: #856A5D;
    padding: 21px;
    font-size: 20px;
    text-align: center;
    border-style: ridge;
    outline: #243010;
}
#searchbutton:hover{
    background-color: white;
    color: #856A5D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}
input.searchBar {
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
    width: 133px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:hover {
    width: 27%;
    opacity: 1;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.10),
    0 17px 10px 0 rgba(0,0,0,0.10);

}
input:hover + #mapid{
    opacity: 1;
}
.container {
    margin:20px;
}
heading {
    color: #F7F7F9;
    font-size: 60px;
    vertical-align: 40px;
    margin-left: 20px;
}

#mapid {
    float: right;
    width: 50%;
    height: 780px;
    margin-top: 8px;
    margin-bottom: 10px;
    opacity: 0.9;
}
#mapid:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15),
    0 17px 50px 0 rgba(0,0,0,0.15);
}

body {
    background-image: url('https://media.discordapp.net/attachments/702787870628380772/702855547061403728/20190908-IMG_9535.jpg?width=876&height=1314');
}

logo {
    margin: 10px;
}
#info {
    display: none;
    opacity: 0.5;
    padding: 15px;
    margin-top: 5px;
    background-color: #544B3D;
    color: #F7F7F9;
    width: 34%;
}
#info:hover {
    opacity: 1;
}


#filters{
    color: white;
    display: none;
}

#routeDistanceInput {
    display: none;
}

#routeLengthInput {
    display: none;
}
#tutorial{
    visibility: visible;
    opacity: 0.5;
    padding: 15px;
    margin-top: 5px;
    background-color: #544B3D;
    color: #F7F7F9;
    width: 34%;
}
#tutorial:hover {
    opacity: 1;

}