/*Header style*/
header {
    border-style: ridge;
    color: #F7F7F9;
    border-radius: 2% 2% 2% 2%;
    background-color: #336600;
    padding: 25px;
}

header.img {
    padding: 10px;
}

#logoText {
    margin-top: -100px;
    margin-left: 90px;
    font-size: 60px;
}

/*Body style*/
body {
    opacity: 0.98;
    background-image: url("../images/big/autumn_pic.JPG");
    background-size: cover;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*Section*/
section {
    border-style: ridge;
    margin-left: 15%;
    text-align: center;
    width: 70%;
    color: #F7F7F9;
    background-color: #336600;
    padding: 10px;
    border-radius: 2%;
    margin-top: 20px;
}

h1 {
    margin: 20px;
}

h2 {
    text-decoration: underline;
}

/*Goals*/
#goals {

}

/*Shooting Script*/
#shootingScript {

}

/*Pictures*/
#pics {

}

#pics img {
    width: 70%;
    height: auto;
}

/*Speech script*/
#speak {

}

#speak img {
    width: 70%;
    height: auto;
}

/*Recordings*/
#recordings {
    display: flex;
    flex-wrap: wrap;
}

#recordings h2 {
    width: 100%;
    text-align: center;
}
#icons h2{
    width: 100%;
    text-align: center;
}
#icons p{
    width: 100%;
    text-align: center;
}
#icons{
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}
#zip a{
    color: white;
    font-size: 20px;
}
#zip a:link, #zip a:visited{
    color: white;
}
#zip a:hover{
    color: red;
}
